dist: trusty
language: c
sudo: true

cache:
    apt: true

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
      - g++-4.9

before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - git clone -b dev https://github.com/rdaly525/coreir.git
  - export COREIRCONFIG="g++-4.9";
  - pip install -r requirements.txt  
  - cd coreir
  - make -j
  - sudo make -j install
  - cd -
  - pip install coreir
  - make -j

  # Dependences for mantle tests
  - pip install delegator.py
  - pip install git+git://github.com/phanrahan/magma.git
  - pip install git+git://github.com/phanrahan/mantle.git


script:
  - make test
  - make pytest

compiler:
  - gcc

os:
  - linux
