dist: trusty
language: c
sudo: false

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
      - g++-4.9

before_install:
  - git clone -b dev https://github.com/rdaly525/coreir.git
  - export COREIRCONFIG="g++-4.9";
  - export COREIR=`pwd`/coreir
  - export LD_LIBRARY_PATH=`pwd`/coreir/lib:$LD_LIBRARY_PATH
  - pip3 install virtualenv
  - virtualenv --python=python3 env
  - source env/bin/activate
  - pip install pytest  
  - cd coreir
  - make -j2 py
  - cd -
  - make -j2 all

script:
  - make test

compiler:
  - gcc

os:
  - linux
